@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@font-face {
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	background-color: #ddd;
	color: rgba(0,0,0,1);
}

div#interface {
	width: 1000px;
	background-color: #fff;
	margin: -20px auto 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	padding: 10px;
}

header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0 80px;
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0;
	margin-bottom: 0;
}

header#cabecalho h2 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	color: #888;
	padding: 0;
	margin-top: 0;
}

header#cabecalho img#icone {
	position: absolute;
	left: 1010px;
	top: 70px;
}

p {
	text-align: justify;
	text-indent: 50px;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img {
	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
	opacity: 1;
}

/* Formatação do menu */

nav#menu {
	display: block;
}

nav#menu h1 {
	display: none;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 535px;
}

nav#menu li {
	display: inline-block;
	background-color: #ddd;
	padding: 10px;
	margin: 2px;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu a {
	color: #000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #fff;
	text-decoration: underline;
}